extends layout

block content
  h1= title

  div(class="index-content")
    ul
      li Number of phones: #{numPhones}
      li Number of companies selling phones: #{numCompanies}
      li Number of available phones: #{numAvailablePhoneInstance}
