@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.side-bar {
    height: 100vh;
    width: 250px;
    border-right: 1px solid darkgrey;
}

.side-bar > .side-bar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 100%;
}

hr {
    width: 100%;
}

.list > * {
    margin: 20px;
    font-size: 20px;
}

.list > ul > li {
    margin: 10px;
}

.list > ul > li > * {
    text-decoration: none;
    color: #0473d8;
}

a {
    text-decoration: none;
    color: #0473d8;
}

a:hover {
    color: dodgerblue;
}

svg:hover {
    fill: white;
}

.github-link {
    width: 120px;
    height: 25px;
    background-color: #0473d8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
}

.github-link:hover {
    background-color: dodgerblue;
}

.content {
    margin: 20px;
}

.content > h1 {
    margin: 20px;
}

.index-content li {
    margin: 20px;
}

li {
    margin: 20px;
}

p {
    margin: 20px;
}

.form-group {
    margin: 20px;
}

 input, textarea, select  {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    height: 20px;
}

.error {
    color: red;
    font-weight: 800;
}